extends layout

include mixins/streamers
include mixins/confirm_end
include mixins/profile_public
include mixins/profile_private
include mixins/profile_stats

block header
	link(rel='stylesheet' href='/css/profile.css')
	link(rel='stylesheet' href='/css/modal.css')
	link(href='/css/selectize.css', rel='stylesheet')

block content
	if (stream)
		.stream_id(data-stream-id= stream.id)
	+confirm_end
	if (user)
		.user_check(data-user-id= user.id)
	.streaming_area
		.section_center
			.stream_center_top
				.stream_owner
					if (streamer.profile_image_url)
						img.streamer_profile_icon(src= streamer.profile_image_url)
					else
						img.streamer_profile_icon(src="/images/profile_icon.png")
					if (streamer)
						if (streamer.firstname)
							p.streamer_first_name #{streamer.firstname}
							if (streamer.lastname)
								p.streamer_last_name #{streamer.lastname}
						else
							p.streamer_username #{streamer.username}
				.links
					if (user.fb_link)
						.fb_link fb
					if (user.insta_link)
						.insta_link ig
					if (user.yt_link)
						.yt_link yt
					if (user.twitter_link)
						.twitter_link tw
					if (user.website_link)
						.website_link wb
				//- CHANGE THIS BELOW, ADD '!' so that only visitors see follow button
				//- IF STREAM NO LONGER LIVE, SAY SO.
				if (user && streamer.id !== user.id)
					.streamer_follow(data-following= "" + user_following_boolean)
						if (user_following_boolean)
							.streamer_follow_button
								img.streamer_follow_icon(src= '/images/following_icon.png')
							.streamer_follow_state Following
						else
							.streamer_follow_button
								img.streamer_follow_icon(src= '/images/follow_icon.png')
							.streamer_follow_state Follow
				.donate_button Support $
			if (streamer.is_live)
				.player_container
					iframe.live_player(width='850', height='540', src='https://www.youtube-nocookie.com/embed/' + video_id + '?autoplay=1&modestbranding=1&showinfo=0&rel=0&theme=light&color=white', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
				.stream_details
					.stream_details_block
						.stream_name_display #{stream.stream_name}
						if (stream.is_live)
							.stream_live LIVE
						else
							.stream_offline Offline
						.livestream_buttons
							if (user && user.id == streamer.id)
								.stream_edit_button Edit
								if (stream.is_live)
									.stream_end_button End stream
							.stream_likes(data-liked= "" + user_like_boolean)
								.stream_like_button
									img.stream_like_icon(src= '/images/like_icon.png')
									span.stream_like_text Likes
								if (stream.stream_likes_count)
									.stream_likes_count #{stream.stream_likes_count}
								else
									.stream_likes_count 0
					.stream_details_block
						.stream_description_display #{stream.stream_description}
					.stream_details_block
						.stream_tags_display
							each tag in stream.stream_tags
								.stream_tag #{tag}
			if (streamer.is_live)
				.edit_stream_details
					.stream_details_block
						if (user && user.id == streamer.id)
							.save_stream_changes Save changes
							.cancel_stream_changes Cancel
							if (stream.is_live)
								.stream_end_button.margin-left-auto End stream
					.edit_stream_inputs
						.stream_input_container.edit_input
							.stream_input_title Change livestream a name
							input.stream_input.stream_name(placeholder='Livestream name' value=stream.stream_name max-length='50')
							.inputErrorContainer
								.inputErrorText
						.stream_input_container.edit_input
							.stream_input_title Change livestream description
							textarea.stream_input.stream_description(placeholder='Describe your livestream') #{stream.stream_description}
							.inputErrorContainer
								.inputErrorText
						.stream_input_container.edit_input
							.stream_input_title Change tags (max 3)
							input#input-tags(type="text" placeholder="Write a tag" data-tags=stream.stream_tags)
							.inputErrorContainer
								.inputErrorText
						.stream_input_container.edit_input
							.stream_input_title Change YouTube video ID
							input.stream_input.stream_video_id_input(placeholder='e.g. NMPqo3XiOUg' value=stream.stream_video_id)
							.inputErrorContainer
								.inputErrorText
						.stream_input_container.edit_input
							.stream_input_title Change custom thumbnail 
							.entryDetailsGroup.auto-side-margins
								.mainImage(id= "imageArea_" + stream.thumbnail_id)
									.file-upload.imageBlock(data-type="mainImage" data-image-key=stream.thumbnail_key)
										if (!stream.thumbnail_url)
											form.image-upload-wrap.imageForm.show(action= "/' + coreURL + '/sign-s3" method="POST" enctype= "multipart/form-data")
												input#file-input.file-upload-input(type='file', name='image', accept='image/jpg')
												.drag-text.padding-60
													button.file-upload-btn(type='button') Upload custom thumbnail
													h3 Or just drag and drop a file
											.file-upload-content.hide
												img.file-upload-image(src=stream.thumbnail_url, alt='your image')
												.image-title-wrap
													button.remove-image(type='button')
														span.image-pre-title Remove 
														if (stream.thumbnail_name && stream.thumbnail_name.length) 
															span.image-title #{stream.thumbnail_name}
														else
															span.image-title Untitled Image
														span.image-uploading-title Uploading image...
														span.image-removing-title Removing image...
										else
											form.image-upload-wrap.imageForm.hide(action= "/' + coreURL + '/sign-s3" method="POST" enctype= "multipart/form-data")
												input#file-input.file-upload-input(type='file', name='image', accept='image/jpg')
												.drag-text.padding-60
													button.file-upload-btn(type='button') Upload custom thumbnail
													h3 Or just drag and drop a file
											.file-upload-content.show
												img.file-upload-image(src=stream.thumbnail_url, alt='your image')
												.image-title-wrap
													button.remove-image(type='button')
														span.image-pre-title Remove 
														if (stream.thumbnail_name && stream.thumbnail_name.length) 
															span.image-title #{stream.thumbnail_name}
														else
															span.image-title Untitled Image
														span.image-uploading-title Uploading image...
														span.image-removing-title Removing image...
							.inputErrorContainer
								.inputErrorText
			+profile_stats(stream, streamer)
		.section_right
			if (user.is_live)
				.player_sidebar_container
					if (stream.is_live)
						.sidebar_section_top
							.hide_chat Hide chat
						iframe.live_chat(width='350px', height='600px', src='https://www.youtube.com/live_chat?v=' + video_id + '&embed_domain=' + host_name) 

block scripts
	script(src='/js/live.js')
	script(src='/js/golive.js')
	script(src='/js/datepicker.js')
	script(src='/js/selectize.js')
	//- if user
	//- 	+profile_private
	//- else
	//- 	.profile_public
	
//- most popular in x, y, z tags
//- request to schedule private call


//- in private:
	//- add first & last name