extends layout

block content
    .stream_id(data-stream-id= stream.id)
    if (user)
        .user_check(data-user-id= user.id)
    .streaming_area
        .section_center
            .stream_center_top
                .stream_owner
                    if (streamer)
                        if (streamer.firstname)
                            p.streamer_first_name #{streamer.firstname}
                            if (user.lastname)
                                p.streamer_last_name #{streamer.lastname}
                        else
                            p.streamer_username #{streamer.username}
                //- CHANGE THIS BELOW, ADD '!' so that only visitors see follow button
                if (user && streamer.id !== user.id)
                    .streamer_follow(data-following= "" + user_following_boolean)
                        if (user_following_boolean)
                            .streamer_follow_button
                                img.streamer_follow_icon(src= '/images/following_icon.png')
                            .streamer_follow_state Following
                        else
                            .streamer_follow_button
                                img.streamer_follow_icon(src= '/images/follow_icon.png')
                            .streamer_follow_state Follow
            .player_container
                iframe.live_player(width='850', height='540', src='https://www.youtube-nocookie.com/embed/' + video_id + '?modestbranding=1&showinfo=0&rel=0&theme=light&color=white', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .stream_details
                .stream_details_block
                    .stream_name #{stream.stream_name}
                    if (stream.stream_live_status == true)
                        .stream_live LIVE
                    else
                        .stream_offline Offline
                    if (user && user.id == streamer.id)
                        .stream_edit_button Edit
                    .stream_likes(data-liked= "" + user_like_boolean)
                        .stream_like_button
                            img.stream_like_icon(src= '/images/like_icon.png')
                            span.stream_like_text Likes
                        if (stream.stream_likes_count)
                            .stream_likes_count #{stream.stream_likes_count}
                        else
                            .stream_likes_count 0
                .stream_details_block
                    .stream_description #{stream.stream_description}
                .stream_details_block
                    .stream_tags
                        each tag in stream.stream_tags
                            .stream_tag #{tag}
            .streamer_profile_container
                .streamer_stats
                    .streamer_followings
                        p.streamer_count #{streamer.followers.length} Followers
                        p.streamer_count #{streamer.following.length} Following
                        p.streamer_count #{streamer.previous_streams.length} Streams done
                .streams_container
                    p.upcoming_streams_title Upcoming streams
                    .upcoming_streams_container
                        .upcoming_streams
                            if (streamer.upcoming_streams.length > 0)
                                each stream in streamer.upcoming_streams
                                    .upcoming_stream stream
                            else
                                .no_upcoming_streams
                                    .no_streams_text User has no upcoming streams.
                    .previous_streams_container
                        .previous_streams
                            p.previous_streams_title Previous streams
                            if (streamer.previous_streams.length > 0)
                                each stream in streamer.previous_streams
                                    .previous_stream stream
                            else
                                .no_previous_streams
                                    .no_streams_text User has no previous streams.
                                .previous_stream
                                    .previous_stream_details
                                        .stream_title Space shizz
                                        .stream_date April 4
                                    iframe.live_player(width='590', height='331', src='https://www.youtube-nocookie.com/embed/' + video_id + '?modestbranding=1&showinfo=0&rel=0&theme=light&color=white', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .section_right
            .player_sidebar_container
                .sidebar_section_top
                    .hide_chat Hide chat
                iframe.live_chat(width='350px', height='600px', src='https://www.youtube.com/live_chat?v=' + video_id + '&embed_domain=stream-one.herokuapp.com') 

block scripts
    script(src='/js/live.js')
