extends layout

block content
    .streaming_area
        .section_center
            .stream_owner
                if (user.firstname)
                    p.streamer_first_name #{user.firstname}
                    if (user.lastname)
                        p.streamer_last_name #{user.lastname}
                else
                    p.streamer_username #{user.username}
            .player_container
                iframe.live_player(width='800', height='480', src='https://www.youtube-nocookie.com/embed/' + video_id + '?modestbranding=1&showinfo=0&rel=0&theme=light&color=white', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .stream_details
                .stream_details_block
                    .stream_name #{stream.stream_name}
                .stream_details_block
                    .stream_description #{stream.stream_description}
                .stream_details_block
                    .stream_tags
                        each tag in stream.stream_tags
                            .stream_tag ##{tag}
        .section_right
            .player_sidebar_container
                .sidebar_section_top
                    .hide_chat Hide chat
                iframe.live_chat(width='425px', height='600px', src='https://www.youtube.com/live_chat?v=' + video_id + '&embed_domain=stream-one.herokuapp.com') 

block scripts
    script(src='/js/live.js')
